<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6d51c506-2a16-4c28-b593-b3add7eb2225/resourceGroups/BugTracker/providers/Microsoft.Web/sites/TicketServer</ResourceId>
    <ResourceGroup>BugTracker</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://ticketserver.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://ticketserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$TicketServer</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>