.tableContainer {
  overflow-x: auto;
  min-width: 0px !important;
  
}

table {
  /*width: 100%;*/
  margin-left: 20px; 
  /*margin-right: 20px;
  table-layout: fixed;*/
}

table th,
table td {
  text-align: center;
  padding: 16px;
  white-space: nowrap;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  
}


table tr:hover {
  background-color: #f8f8f8;
}


table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #b8e2f2;
  color: #333333;
  height: 40px;
  padding: 10px;

}

tr {
  height: 80px;
}

table {
  table-layout: fixed;
}

a:link,
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover,
a:active {
  color: black;
  background-color: transparent;
  /*text-decoration: underline;*/
  
}

.column-header {
  background-color: #d6eaf8;
}

.row-body {
  /* width: 10% */
  white-space: initial;
  text-overflow: clip;
}

.row-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-height: 2.4em; 
  line-height: 1.2em; 
}



.column-header,
.row-body {
  width: auto !important;
  max-width: none !important;
  text-align: center;
  margin: auto;
  border: 0px solid black;
}

.column-header {
  background-color: #d6eaf8;
  font-size: 18px; /* Adjust the font size as needed */
}

.title-column {
  width: 30%; 
}

.submitted-date-column {
  width: 17%; 
}

/*
.title-column {
  width: 40%; 
}

.status-column {
  width: 13%; 
}

.ticket-type-column {
  width: 17%;
}

.ticket-prio-column {
  width: 12%; 
}

.submitted-date-column {
  width: 17%; 
}

.details-column {
  width: 10%; 
}

.action-column {
  width: 10%; 
}
*/

table {
  min-width: 950px;
}